<div class="reservation <%=booking.status.downcase%>">
  <div class="reservation-head">
    <div class = "reservation-icons">
      <%= link_to @customer, edit_customer_path(booking.customer) %>
      <img src="<%= @categorie[1] %>" class = "icone-client client-rating" style= "width:auto;">
    </div>
    <div class="reservation-content">
      <p class="card-text"><%= booking.content %></p>
    </div>
  </div>
  <div class="reservation-admin">
    <div class = "block-client">
      <img src="<%=@origin[booking.source]%>" class = "icone-client source">
      <img src="https://img.icons8.com/metro/384/user-male.png" class = "icone-client">
      <p class ="nb-clients"> <%=booking.number_of_customers%></p>
    </div>
    <div class="block-admin">
      <%= link_to 'Edit', edit_booking_path(booking) %>

      <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
