
<div class ="container">
  <h1> <%= @booking.customer.first_name %> </h1>
<div class = "page-header">
  <div class = " col-8 formulaire">

    <%= simple_form_for @booking do |f| %>
      <%= f.input :date %>
      <%= f.input :hour%>
      <%= f.input :number_of_customers %>
      <%= f.input :content %>
      <%= f.submit class: "btn-secondary" %>
    <% end %>
  </div>
</div>
