  <h1> <%= current_user.restaurant.name %> </h1>
<div class="BookingIndexTitle">
  <div>Capacité Max : <%= current_user.restaurant.capacity %> couverts</div>
  <div>Nous sommes le <%= Time.now.strftime("%d-%m-%y") %></div>

</div>
<%= simple_form_for @customer do |f| %>
  <div class ="book-a-table">
    <div> <%= f.input :first_name  %> </div>
    <div> <%= f.input :last_name %>  </div>
    <div> <%= f.input :phone_number  %></div>
    <div> <%= f.input :email %>      </div>
    <%= f.simple_fields_for :bookings do |f| %>
     <div>
      <%= label_tag(:DateReservation, "Date de réservation" ) %>
      <%= text_field_tag(:dateReservation, params[:dateReservation]) %>
      </div>
     <div><%= label_tag(:heureReservation, "Heure de réservation" ) %>
      <%= text_field_tag(:heureReservation, params[:heureReservation]) %></div>
     <div> <%= f.input :number_of_customers %></div>
     <div><%= f.input :content%> </div>
    <% end %>
    <div> <%= f.button :submit, "Ajouter la reservation", class: "btn-primary homepage"%></div>
  <% end %>
</div>



<h3 class="OverSchedule text-align: center  ">Mes réservations du jours</h3>



      <div class="agendaMidi">
      <table class="schedule">
        <tr>
          <td style="width: 50px"></td>
          <td style="width: 50px"><%=@total_customer[0].sum%></td>
           <td style="width: 50px"><%=@total_customer[1].sum%></td>
           <td style="width: 50px"><%=@total_customer[2].sum%></td>
           <td style="width: 50px"><%=@total_customer[3].sum%></td>
           <td style="width: 50px"><%=@total_customer[4].sum%></td>
           <td style="width: 50px"></td>
        </tr>
       <th>
         <td style="width: 50px">12h00</td>
         <td style="width: 50px">12h30</td>
         <td style="width: 50px">13h00</td>
         <td style="width: 50px">13h30</td>
         <td style="width: 50px">14h00</td>
         <td style="width: 50px">14h30</td>
       </th>


         <% @bookings.where(date: Date.today).each do |booking| %>
           <% @heure = booking.hour %>
           <% @origin = ['LaFourchette', 'Facebook', 'WebSite', 'Phone', 'Other'].sample%>
           <% @customer = "#{booking.customer.first_name.capitalize} #{booking.customer.last_name.upcase}"%>
           <% @number_of_customers = booking.number_of_customers %>


      <%if @heure =='12h00'%>
         <tr><td></td><td colspan = 3 class= "booking <%=@origin%>"> <div class="reservation">
            <div class="reservation-head">
              <p><%=@customer%></p>
              <p> <%=booking.number_of_customers%>pers</p>
              <p class="card-text"><%=booking.content%></p>
              <p class="iconeBoudin "><%= image_tag("message.png", :alt => "icon mail" ) %></p>
              <p class="iconeBoudin "><%= image_tag("outgoing-call.png", :alt => "icon tel") %></p>
            </div>
          </div>
        </td><td ></td><td></td><td ></td><td ></td></tr>

      <%elsif @heure =='12h30' then%>
       <tr><td></td><td></td><td  colspan = 3 class= "booking <%=@origin%>"> <div class="reservation">
        <div class="reservation-head">
          <p><%=@customer%></p>
          <p> <%=booking.number_of_customers%>pers</p>
          <p class="card-text"><%=booking.content%></p>
          <p class="iconeBoudin "><%= image_tag("message.png", :alt => "icon mail" ) %></p>
          <p class="iconeBoudin "><%= image_tag("outgoing-call.png", :alt => "icon tel") %></p>
        </div>
      </div>
    </td><td ></td><td ></td><td ></td></tr>

      <%elsif @heure =='13h00' then%>
       <tr><td></td><td></td><td></td>
        <td colspan = 3  class= "booking <%=@origin%>"> <div class="reservation">
        <div class="reservation-head">
          <p><%=@customer%></p>
          <p> <%=booking.number_of_customers%>pers</p>
          <p class="card-text"><%=booking.content%></p>
          <p class="iconeBoudin "><%= image_tag("message.png", :alt => "icon mail" ) %></p>
          <p class="iconeBoudin "><%= image_tag("outgoing-call.png", :alt => "icon tel") %></p>
        </div>
      </div></td><td ></td><td ></td></tr>

      <%elsif @heure =='13h30' then%>
       <tr><td></td><td></td><td></td><td></td>
        <td colspan = 3  class= "booking <%=@origin%>"><div class="reservation">
        <div class="reservation-head">
          <p><%=@customer%></p>
          <p> <%=booking.number_of_customers%>pers</p>
          <p class="card-text"><%=booking.content%></p>
          <p class="iconeBoudin "><%= image_tag("message.png", :alt => "icon mail" ) %></p>
          <p class="iconeBoudin "><%= image_tag("outgoing-call.png", :alt => "icon tel") %></p>
        </div>

      </div></td><td ></td></tr>

      <%else%>


        </div>
   </div></td></tr>
      <%end%>
      <%end%>
      </table>
  </div>
 <br>
  <div class="agendaSoir">
      <table class="schedule">
      <tr>
        <td style="width: 50px"></td>
        <td style="width: 50px"><%=@total_customer[5].sum%></td>
         <td style="width: 50px"><%=@total_customer[6].sum%></td>
         <td style="width: 50px"><%=@total_customer[7].sum%></td>
         <td style="width: 50px"><%=@total_customer[8].sum%></td>
         <td style="width: 50px"><%=@total_customer[9].sum%></td>
         <td style="width: 50px"></td>
      </tr>
       <th>
         <td style="width: 50px">19H00</td>
         <td style="width: 50px">19H30</td>
         <td style="width: 50px">20H00</td>
         <td style="width: 50px">20H30</td>
         <td style="width: 50px">21H00</td>
         <td style="width: 50px">21H30</td>
         <td style="width: 50px">22H00</td>

       </th>
         <% @bookings.where(date: Date.today).each do |booking| %>
           <% @heure = booking.hour %>
           <% @origin = ['LaFourchette', 'Facebook', 'WebSite', 'Phone', 'Other'].sample%>
           <% @customer = "#{booking.customer.first_name.capitalize} #{booking.customer.last_name.upcase}"%>
           <% @number_of_customers = booking.number_of_customers %>


      <%if @heure =='19h00' then%>
         <tr><td></td><td colspan = 3 class= "booking <%=@origin%>"> <div class="reservation">
            <div class="reservation-head">
              <p><%=@customer%></p>
              <p> <%=booking.number_of_customers%>pers</p>
              <p class="card-text"><%=booking.content%></p>
              <p class="iconeBoudin "><%= image_tag("message.png", :alt => "icon mail" ) %></p>
              <p class="iconeBoudin "><%= image_tag("outgoing-call.png", :alt => "icon tel") %></p>
            </div>
          </div>
        </td><td ></td><td></td><td ></td><td ></td></tr>

      <%elsif @heure =='19h30' then%>
       <tr><td></td><td></td><td  colspan = 3 class= "booking <%=@origin%>"> <div class="reservation">
        <div class="reservation-head">
          <p><%=@customer%></p>
          <p> <%=booking.number_of_customers%>pers</p>
          <p class="card-text"><%=booking.content%></p>
          <p class="iconeBoudin "><%= image_tag("message.png", :alt => "icon mail" ) %></p>
          <p class="iconeBoudin "><%= image_tag("outgoing-call.png", :alt => "icon tel") %></p>
        </div>
      </div>
    </td><td ></td><td ></td><td ></td></tr>

      <%elsif @heure =='20h00' then%>
       <tr><td></td><td></td><td></td>
        <td colspan = 3  class= "booking <%=@origin%>"> <div class="reservation">
        <div class="reservation-head">
          <p><%=@customer%></p>
          <p> <%=booking.number_of_customers%>pers</p>
          <p class="card-text"><%=booking.content%></p>
          <p class="iconeBoudin "><%= image_tag("message.png", :alt => "icon mail" ) %></p>
          <p class="iconeBoudin "><%= image_tag("outgoing-call.png", :alt => "icon tel") %></p>
        </div>
      </div></td><td ></td><td ></td></tr>

      <%elsif @heure =='20h30' then%>
       <tr><td></td><td></td><td></td><td></td>
        <td colspan = 3  class= "booking <%=@origin%>"><div class="reservation">
        <div class="reservation-head">
          <p><%=@customer%></p>
          <p> <%=booking.number_of_customers%>pers</p>
          <p class="card-text"><%=booking.content%></p>
          <p class="iconeBoudin "><%= image_tag("message.png", :alt => "icon mail" ) %></p>
          <p class="iconeBoudin "><%= image_tag("outgoing-call.png", :alt => "icon tel") %></p>
        </div>

      </div></td><td ></td></tr>

       <%elsif @heure =='21h00' then%>
       <tr><td></td><td></td><td></td><td></td>
        <td colspan = 3  class= "booking <%=@origin%>"><div class="reservation">
        <div class="reservation-head">
          <p><%=@customer%></p>
          <p> <%=booking.number_of_customers%>pers</p>
          <p class="card-text"><%=booking.content%></p>
          <p class="iconeBoudin "><%= image_tag("message.png", :alt => "icon mail" ) %></p>
          <p class="iconeBoudin "><%= image_tag("outgoing-call.png", :alt => "icon tel") %></p>
        </div>

      <%else%>

      <%end%>
      <%end%>
      </table>
  </div>

</div>



