<h1>Mon restaurant  <%= current_user.restaurant.name %> </h1>
<h2>Ma salle : <%= current_user.restaurant.capacity %> couverts</h2>

<h3>Nous sommes le <%= Time.now.strftime("%d-%m-%y") %>
 <div id="calendar"></div>

<h2>Mes reservations sur les 7 prochains jours</h2>
  <% @calendar.each do |day| %>
    <p>Le <%= day[0].strftime("%d-%m-%y") %>
      <% day[1].sort_by(&:hour).each do |lunch|  %>

    <div class= <%= lunch.hour %>></div>
     <% end %>
     <div class="lunchtime">
      <div class="row">
        <div class="col-sm">
          12H00
        </div>
        <div class="col-sm">
         12H30
        </div>
        <div class="col-sm">
          13H00
        </div>
        <div class="col-sm">
         13H30
        </div>
  </div>

    <div><% day[2].each do |dinner|  %>
      <%= dinner.hour %></div>
  <% end %>

</div>
  <% end %>

  <input type="submit" name="commit" value="Ajouter une réservation" class="btn">

<!-- <div>
  <% @bookings.each do |booking| %>
    <div>Nombre de convives : <%= booking.number_of_customers %> / <%= booking.date %> / <%= booking.hour %> / <%= booking.content %> /
     <%= booking.customer.last_name %> / <%= booking.customer.first_name %> /
     <%= booking.customer.phone_number %> / <%= booking.customer.email %>
    </div>
  <%end%>
</div> -->
