 <div class ="container">
  <h1> <%= current_user.restaurant.name %> </h1>
  <div class="BookingIndexTitle flexbox">
    <div>Capacité Max : <%= current_user.restaurant.capacity %> couverts</div>
    <div>Nous sommes le <%= Time.now.strftime("%d-%m-%y") %></div>
    <div class = "page-header">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">add_circle_outline</i>Ajouter une réservation</div>
            <div class="collapsible-body">
              <div class = " col-12 formulaire">
                <%= simple_form_for :booking, url: bookings_path, method: :post do |f| %>
                <div class ="book-a-table">
                  <div> <%= f.input :first_name, label: "Prénom"  %> </div>
                  <div>
                    <%= f.input :last_name, label: "Nom de Famille" %>  </div>
                  <div> <%= f.input :email, label: "email" %> </div>
                  <%# f.input :date, as: :date, html5: true, :input_html => {class: 'date'}%>
                  <div><%= label_tag(:date, "Date de réservation" ) %>
                   <%= text_field_tag(:date, params[:date])%>      </div>

                   <div><%= label_tag(:hour, "Heure de réservation" ) %>
                    <%= text_field_tag(:hour, params[:hour]) %></div>

                  <div><%= f.input :number_of_people, label: "Nombre d'invités" %> </div>

                  <div> <%= f.input :comments, label: "Demande spécifique" %>      </div>
                  <div> <%= f.button :submit, "Ajouter la reservation", class: "btn-secondary"%></div>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>



  <h3 class="OverSchedule text-align: center  ">Mes réservations du jour</h3>


<h1>Service du midi:</h1>
      <div class="agendaMidi">
        <table class="schedule">
        <thead class ="header-table">
            <td >Nombre de réservation</td>
            <td >12h00</td>
            <td >12h30</td>
            <td >13h00</td>
            <td >13h30</td>
            <td >14h00</td>
            <td >14h30</td>
            <td>15H00</td>
        </thead>

        <tr class = "restaurant-capacity">
          <td class = "nb-dispo"> Nombre de couverts disponibles</td>
          <td >
            <div class = "sous-block-dispo">
              <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[0].sum%></p>
            </div>
          </td>
           <td >
             <div class = "sous-block-dispo">
               <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[1].sum%></p>
             </div>
           </td>
           <td >
             <div class = "sous-block-dispo">
               <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[2].sum%></p>
             </div>
           </td>
           <td >
             <div class = "sous-block-dispo">
               <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[3].sum%></p>
             </div>
           </td>
           <td >
             <div class = "sous-block-dispo">
               <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[4].sum%></p>
             </div>
           </td>
           <td ><div class = "sous-block-dispo">
               <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[4].sum%></p>
             </div>
           </td>
           <td></td>
        </tr>

        <tbody>


         <% @bookings.where(date: Date.today).each_with_index do |booking, index| %>
           <% @heure = booking.hour %>
           <% @origin = [['LaFourchette','http://i0.wp.com/lewebcestfood.fr/wp-content/uploads/2016/02/La-fourchette.png?fit=300%2C300'], ['Facebook', 'https://img.icons8.com/color/384/facebook.png'], ['WebSite', 'https://img.icons8.com/ios/384/internet.png'], ['Phone','https://img.icons8.com/metro/384/phone.png'], ['Other', 'https://img.icons8.com/ios/384/conference-call-filled.png']].sample%>
           <% @categorie= [['New', 'https://upload.wikimedia.org/wikipedia/commons/4/4a/Star_rating_0_of_5.png'], ['1 étoile', 'https://upload.wikimedia.org/wikipedia/commons/d/dd/Star_rating_1_of_5.png'], ['2 étoiles', 'https://upload.wikimedia.org/wikipedia/commons/9/95/Star_rating_2_of_5.png'], ['3 étoiles', 'https://upload.wikimedia.org/wikipedia/commons/2/2f/Star_rating_3_of_5.png'], ['4 étoiles', 'https://upload.wikimedia.org/wikipedia/commons/f/fa/Star_rating_4_of_5.png'], ['5 étoiles', 'https://upload.wikimedia.org/wikipedia/commons/1/17/Star_rating_5_of_5.png']].sample%>
           <% @customer = "#{booking.customer.first_name.capitalize} #{booking.customer.last_name.upcase}"%>
           <% @number_of_customers = booking.number_of_customers %>


      <%if @heure =='12h00' || @heure == '12:00'%>
         <tr><td><%=index +1 %></td><td colspan = 3 class= "booking <%=@origin[0]%>">
          <div class="reservation">
            <div class="reservation-head">
              <div class = "reservation-icons">
                <img src="<%=@categorie[1]%>" class = "icone-client client-rating" style= "width:auto;">
                <img src="https://img.icons8.com/metro/384/about.png" class = "icone-client info" style= "width:auto;">
              </div>
              <div class="reservation-content">
                <%= link_to @customer, edit_customer_path(booking.customer) %>
                <a class ="nom-customer" href=""><%=@customer%></a>
                <p class="card-text content">"Commentaire: <%=booking.content%>"</p>
              </div>
            </div>
            <div class="reservation-admin">
              <div class = "block-client">
                <img src="<%=@origin[1]%>" class = "icone-client source">
                <div class = "sous-block-client">
                  <img src="https://img.icons8.com/metro/384/user-male.png" class = "icone-client">
                  <p class ="nb-clients"> <%=booking.number_of_customers%></p>
                </div>
              </div>
              <div class="block-admin">
              <%= link_to 'Edit', edit_booking_path(booking) %>
              <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
            </div>
          </div>
        </td><td ></td><td></td><td ></td><td ></td></tr>

      <%elsif @heure =='12h30'|| @heure == '12:30' then%>
        <tr><td><%=index +1 %></td><td></td><td  colspan = 3 class= "booking <%=@origin[0]%>">
          <div class="reservation">
            <div class="reservation-head">
              <div class = "reservation-icons">
                <img src="<%=@categorie[1]%>" class = "icone-client client-rating" style= "width:auto;">
                <img src="https://img.icons8.com/metro/384/about.png" class = "icone-client info" style= "width:auto;">
              </div>
              <div class="reservation-content">
                <%= link_to @customer, edit_customer_path(booking.customer) %>
                <p class="card-text content">"<%=booking.content%>"</p>
              </div>
            </div>
            <div class="reservation-admin">
              <div class = "block-client">
                <img src="<%=@origin[1]%>" class = "icone-client source">
                <div class = "sous-block-client">
                  <img src="https://img.icons8.com/metro/384/user-male.png" class = "icone-client">
                  <p class ="nb-clients"> <%=booking.number_of_customers%></p>
                </div>
              </div>
              <div class="block-admin">
                <%= link_to 'Edit', edit_booking_path(booking) %>
                <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
            </div>
          </div>
    </td><td ></td><td ></td><td ></td></tr>

      <%elsif @heure =='13h00' || @heure == '13:00'then%>
       <tr><td><%=index +1 %></td><td></td><td></td>
        <td colspan = 3  class= "booking <%=@origin%>">
        <div class="reservation">
                    <div class="reservation-head">
                      <div class = "reservation-icons">
                        <img src="<%=@categorie[1]%>" class = "icone-client client-rating" style= "width:auto;">
                        <img src="https://img.icons8.com/metro/384/about.png" class = "icone-client info" style= "width:auto;">
                      </div>
                      <div class="reservation-content">
                        <a class ="nom-customer" href=""><%=@customer%></a>
                        <p class="card-text content">"<%=booking.content%>"</p>
                      </div>
                    </div>
                    <div class="reservation-admin">
                      <div class = "block-client">
                        <img src="<%=@origin[1]%>" class = "icone-client source">
                        <div class = "sous-block-client">
                          <img src="https://img.icons8.com/metro/384/user-male.png" class = "icone-client">
                          <p class ="nb-clients"> <%=booking.number_of_customers%></p>
                        </div>
                      </div>
                      <div class="block-admin">
                        <%= link_to 'Edit', edit_booking_path(booking) %>
                        <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                    </div>
                    </div>
                  </div>
        </td><td ></td><td ></td></tr>

      <%elsif @heure =='13h30'|| @heure == '13:30' then%>
       <tr><td><%=index +1 %></td><td></td><td></td><td></td>
        <td colspan = 3  class= "booking <%=@origin%>">
        <div class="reservation">
                    <div class="reservation-head">
                      <div class = "reservation-icons">
                        <img src="<%=@categorie[1]%>" class = "icone-client client-rating" style= "width:auto;">
                        <img src="https://img.icons8.com/metro/384/about.png" class = "icone-client info" style= "width:auto;">
                      </div>
                      <div class="reservation-content">
                        <a class ="nom-customer" href=""><%=@customer%></a>
                        <p class="card-text content">"<%=booking.content%>"</p>
                      </div>
                    </div>
                    <div class="reservation-admin">
                      <div class = "block-client">
                        <img src="<%=@origin[1]%>" class = "icone-client source">
                        <div class = "sous-block-client">
                          <img src="https://img.icons8.com/metro/384/user-male.png" class = "icone-client">
                          <p class ="nb-clients"> <%=booking.number_of_customers%></p>
                        </div>
                      </div>
                      <div class="block-admin">
                        <%= link_to 'Edit', edit_booking_path(booking) %>
                        <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                    </div>
                    </div>
                  </div>

        </td><td ></td></tr>

      <%else%>


        </div>
   </div></td></tr>
      <%end%>
      <%end%>
    </tbody>

      </table>
  </div>
 <br>
 <h1>Service du soir:</h1>
  <div class="agendaSoir">
      <table class="schedule">
        <thead class ="header-table-soir">
            <td >18h30</td>
            <td >19h00</td>
            <td >19h30</td>
            <td >20h00</td>
            <td >20h30</td>
            <td >21h00</td>
            <td >21h30</td>
            <td>22H00</td>
        </thead>

        <th class = "restaurant-capacity">
          <td >
            <div class = "sous-block-dispo">
              <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[5].sum%></p>
              <img src="https://img.icons8.com/metro/2x/cutlery.png" class = "icone-client dispo">
            </div>
          </td>
           <td >
             <div class = "sous-block-dispo">
               <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[6].sum%></p>
               <img src="https://img.icons8.com/metro/2x/cutlery.png" class = "icone-client dispo">
             </div>
           </td>
           <td >
             <div class = "sous-block-dispo">
               <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[7].sum%></p>
               <img src="https://img.icons8.com/metro/2x/cutlery.png" class = "icone-client dispo">
             </div>
           </td>
           <td >
             <div class = "sous-block-dispo">
               <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[8].sum%></p>
               <img src="https://img.icons8.com/metro/2x/cutlery.png" class = "icone-client dispo">
             </div>
           </td>
           <td >
             <div class = "sous-block-dispo">
               <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[9].sum%></p>
               <img src="https://img.icons8.com/metro/2x/cutlery.png" class = "icone-client dispo">
             </div>
           </td>
           <td ><div class = "sous-block-dispo">
               <p class ="nb-dispo"> <%=current_user.restaurant.capacity - @total_customer[9].sum%></p>
               <img src="https://img.icons8.com/metro/2x/cutlery.png" class = "icone-client dispo">
             </div>
           </td>
           <td></td>
        </th>

        <tbody>
         <% @bookings.where(date: Date.today.strftime("%d-%m-%Y")).each do |booking| %>
           <% @heure = booking.hour %>
           <% @origin = [['LaFourchette','http://i0.wp.com/lewebcestfood.fr/wp-content/uploads/2016/02/La-fourchette.png?fit=300%2C300'], ['Facebook', 'https://img.icons8.com/color/384/facebook.png'], ['WebSite', 'https://img.icons8.com/ios/384/internet.png'], ['Phone','https://img.icons8.com/metro/384/phone.png'], ['Other', 'https://img.icons8.com/ios/384/conference-call-filled.png']].sample%>
           <% @categorie= [['New', 'https://upload.wikimedia.org/wikipedia/commons/4/4a/Star_rating_0_of_5.png'], ['1 étoile', 'https://upload.wikimedia.org/wikipedia/commons/d/dd/Star_rating_1_of_5.png'], ['2 étoiles', 'https://upload.wikimedia.org/wikipedia/commons/9/95/Star_rating_2_of_5.png'], ['3 étoiles', 'https://upload.wikimedia.org/wikipedia/commons/2/2f/Star_rating_3_of_5.png'], ['4 étoiles', 'https://upload.wikimedia.org/wikipedia/commons/f/fa/Star_rating_4_of_5.png'], ['5 étoiles', 'https://upload.wikimedia.org/wikipedia/commons/1/17/Star_rating_5_of_5.png']].sample%>
           <% @customer = "#{booking.customer.first_name.capitalize} #{booking.customer.last_name.upcase}"%>
           <% @number_of_customers = booking.number_of_customers %>


      <%if @heure =='19h00' || @heure == '19:00'then%>
         <tr><td></td><td colspan = 3 class= "booking <%=@origin%>">
          <div class="reservation">
            <div class="reservation-head">
              <div class = "reservation-icons">
                <img src="<%=@categorie[1]%>" class = "icone-client client-rating" style= "width:auto;">
                <img src="https://img.icons8.com/metro/384/about.png" class = "icone-client info" style= "width:auto;">
              </div>
              <div class="reservation-content">
                <a class ="nom-customer" href=""><%=@customer%></a>
                <p class="card-text content">"<%=booking.content%>"</p>
              </div>
            </div>
            <div class="reservation-admin">
              <div class = "block-client">
                <img src="<%=@origin[1]%>" class = "icone-client source">
                <div class = "sous-block-client">
                  <img src="https://img.icons8.com/metro/384/user-male.png" class = "icone-client">
                  <p class ="nb-clients"> <%=booking.number_of_customers%></p>
                </div>
              </div>
              <div class="block-admin">
                <img src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/new-24-512.png" class = "icone-client edit">
                 <img src="https://img.icons8.com/material/2x/filled-trash.png" class = "icone-client delete">
              </div>
            </div>
        </td><td ></td><td></td><td ></td><td ></td></tr>

      <%elsif @heure =='19h30'|| @heure == '19:30' then%>
       <tr><td></td><td></td><td  colspan = 3 class= "booking <%=@origin%>">
        <div class="reservation">
          <div class="reservation-head">
            <div class = "reservation-icons">
              <img src="<%=@categorie[1]%>" class = "icone-client client-rating" style= "width:auto;">
              <img src="https://img.icons8.com/metro/384/about.png" class = "icone-client info" style= "width:auto;">
            </div>
            <div class="reservation-content">
              <a class ="nom-customer" href=""><%=@customer%></a>
              <p class="card-text content">"<%=booking.content%>"</p>
            </div>
          </div>
          <div class="reservation-admin">
            <div class = "block-client">
              <img src="<%=@origin[1]%>" class = "icone-client source">
              <div class = "sous-block-client">
                <img src="https://img.icons8.com/metro/384/user-male.png" class = "icone-client">
                <p class ="nb-clients"> <%=booking.number_of_customers%></p>
              </div>
            </div>
            <div class="block-admin">
              <img src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/new-24-512.png" class = "icone-client edit">
               <img src="https://img.icons8.com/material/2x/filled-trash.png" class = "icone-client delete">
            </div>
          </div>
          </div>
        </div>
    </td><td ></td><td ></td><td ></td></tr>

      <%elsif @heure =='20h00'|| @heure == '20:00' then%>
       <tr><td></td><td></td><td></td>
        <td colspan = 3  class= "booking <%=@origin%>">
          <div class="reservation">
            <div class="reservation-head">
              <div class = "reservation-icons">
                <img src="<%=@categorie[1]%>" class = "icone-client client-rating" style= "width:auto;">
                <img src="https://img.icons8.com/metro/384/about.png" class = "icone-client info" style= "width:auto;">
              </div>
              <div class="reservation-content">
                <a class ="nom-customer" href=""><%=@customer%></a>
                <p class="card-text content">"<%=booking.content%>"</p>
              </div>
            </div>
            <div class="reservation-admin">
              <div class = "block-client">
                <img src="<%=@origin[1]%>" class = "icone-client source">
                <div class = "sous-block-client">
                  <img src="https://img.icons8.com/metro/384/user-male.png" class = "icone-client">
                  <p class ="nb-clients"> <%=booking.number_of_customers%></p>
                </div>
              </div>
              <div class="block-admin">
                <img src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/new-24-512.png" class = "icone-client edit">
                 <img src="https://img.icons8.com/material/2x/filled-trash.png" class = "icone-client delete">
              </div>
            </div>
            </div>
          </div>
        </td><td ></td></tr>

       <%elsif @heure =='21h00'|| @heure == '21:00' then%>
       <tr><td></td><td></td><td></td><td></td>
        <td colspan = 3  class= "booking <%=@origin%>">
        <div class="reservation">
          <div class="reservation-head">
            <div class = "reservation-icons">
              <img src="<%=@categorie[1]%>" class = "icone-client client-rating" style= "width:auto;">
              <img src="https://img.icons8.com/metro/384/about.png" class = "icone-client info" style= "width:auto;">
            </div>
            <div class="reservation-content">
              <a class ="nom-customer" href=""><%=@customer%></a>
              <p class="card-text content">"<%=booking.content%>"</p>
            </div>
          </div>
          <div class="reservation-admin">
            <div class = "block-client">
              <img src="<%=@origin[1]%>" class = "icone-client source">
              <div class = "sous-block-client">
                <img src="https://img.icons8.com/metro/384/user-male.png" class = "icone-client">
                <p class ="nb-clients"> <%=booking.number_of_customers%></p>
              </div>
            </div>
            <div class="block-admin">
              <img src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/new-24-512.png" class = "icone-client edit">
               <img src="https://img.icons8.com/material/2x/filled-trash.png" class = "icone-client delete">
            </div>
          </div>
          </div>
        </div>
      </td></tr>

      <%else%>

      <%end%>
      <%end%>
</div>
    </tbody>
      </table>
</div>
  </div>
</div>
</div>


