<div class="navbar  navbar-expand-sm navbar-fixed-top navbar-light navbar-fixed-top navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag("@Table.png", :alt => "@Table") %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <!-- <div class= "text-align: center"> <h1><%= current_user.restaurant.name %></h1> </div> -->
            <div id="nav-center">
                <li class="nav-item_dropdown">
              <% avatar_url = current_user.google_picture || "http://placehold.it/30x30" %>
              <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"  %>
              <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

