<div class="wrapper">
  <div class="banner">
    <div class="container-home">
      <h1><%= "@table" %><i id="icon" class="fas fa-utensils"></i></h1>
      <br><br>
        <h4><%= "Gérez vos réservations simplement" %></h4>
        <br><br>
          <a class="btn-primary homepage" <%= link_to "
          se connecter", new_user_session_path, class: "nav-link" %>
          </a>
          <a class="btn-primary homepage" <%= link_to "
          s'inscrire", new_user_registration_path, class: "nav-link" %>
          </a>
  <br><br><br><br><br><br>
      <div class="cards-home">
        <div class="card-home">
          <%= image_tag("planning2.png", :alt => "plannig") %>
          <p><%= "Centralisez en un clic toutes vos réservations" %></p>
        </div>
        <div class="card-home">
          <%= image_tag("ca.png", :alt => "ca") %>
          <p><%= "Améliorez votre Chiffre d'affaire" %></p>
        </div>
        <div class="card-home">
          <%= image_tag("outgoing-call.png", :alt => "com") %>
          <p> <%= "Optimisez l'expérience de vos clients" %> </p>
        </div>
      </div>
  </div>
</div>
</div>


<div class="container-home">

</div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <%= " Made in le Wagon by @Table Team" %><%= " " %><i class="fas fa-heart"></i>.
    </div>
  </div>

  </div>
</div>













