<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)), url(https://images.unsplash.com/photo-1428515613728-6b4607e44363?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <div id="form-in">
            <h2>Se connecter</h2>
          </div>
          <div id="form-login">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
               <div class=“form-inputs”>
                 <%= f.input :email,
                            required: false,
                             autofocus: true,
                             input_html: { autocomplete: "email" }%>
                 <%= f.input :password,
                             required: false,
                             input_html: { autocomplete: "current-password" } %>
                 <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                     </div>
                    <div class="container-bt">
                      <div class="row">
                       <div class="form-actions">
                         <%= f.button :submit, "Connectez-vous", class: "btn-session" %>
                        </div>
                     </div>
                    <% end %>
                  <%- if devise_mapping.omniauthable? %>
                  <%- resource_class.omniauth_providers.each do |provider| %>
                    <div class="row">
                        <div class="btn-google white ">
                           <a href="/users/google-oauth/" style="text-transform:none">
                              <div class="left">
                                  <img width="30px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                              </div>
                                <%= link_to "Se connecter avec Google", omniauth_authorize_path(resource_name, provider, class:"google-picture") %>
                              </a>
                          </div>
                        </div>
                    <br />
                  <% end %>
                <% end %>
              </div>
              <div class="forgot-session">
                <%= render "devise/shared/links" %>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
 <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <%= " Made in le Wagon by @Table Team" %><%= " " %><i class="fas fa-heart"></i>.
    </div>
  </div>
